body {
    background-color: black;
}

h1 {
    font-family: 'Shlop', decorative;
    color: orange;
    font-size: 72pt;
    text-align: center;
}

/* .container {
    size: 60%;
} */

#map {
    position: absolute;
    width: 100%;
    height: 600px;
}

.ghost {
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

.opener {
    color: white;
    text-align: justify;
   /* font-family: 'Times New Roman', serif;
    font-size: 14pt; */
    margin-top: 10px;
}

/* .img-container {
    
} */

/* h1 {
    font-size: 500%;
} */

/* responsive text */

@media (min-width: 0px) {
    p {
        font-size: 1rem;
    }
    
    h1 {
        font-size: 4rem;
    }
    .righting-wrap {
        margin-left: 0;
        width: 100%;
        margin-right: 0;
    } 
    .left-text {
        margin-top: 60px;
    }
    .image-left {
        margin-top: 80px;
    }
    .opener {
        padding: 0 30px 0 30px;
    }
}

@media (min-width: 768px) {
    p {
        font-size: calc(1rem+1vw);
    }
    
    h1 {
        font-size: calc(4rem+1vw);
    }
    .left-text {
        margin-top: 0;
    }
    .image-left {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    p {
        font-size: 1.75rem;
    }
    
    p.opener {
        font-size: 14pt;
    }
    
    h1 {
        font-size: 5rem;
    }
    .left-text {
        margin-left: 20%;
    }
}